# [submodule "packages/webext-bridge"]
# 	path = packages/webext-bridge
# 	url = https://github.com/serversideup/webext-bridge

[submodule "packages/weasound"]
	path = packages/weasound
	url = https://github.com/Yahweasel/weasound
