{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "tw"],
  "overrides": [
    {
      "files": "docs/changelog.md",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
