:root {
  --ui-font  : "Karla", "Golos Text", "Gitlab Sans";
  --mono-font: "JetBrains Mono NL";

  --background-color: #181818;

  /* --accent-color          : rgb(108, 92, 231);
  --accent-color-darker      : rgba(108, 92, 231, .5); */
  /* --accent-color          : rgb(0 122 255);
  --accent-color-darker      : rgb(0 122 255 / 50%); */
  --accent-color       : rgb(0, 206, 201);
  --accent-color-darker: rgba(0, 206, 201, .5);

  --sidebar-color  : #1f1f1f;
  --secondary-color: var(--accent-color);
  --text-off       : #8d8d8d;
  --text-main      : #e8e8e8;
  --border-color   : rgba(229, 231, 235, 0.1);
}

#thread-anchor-wrapper #container {
  border-radius: .5rem;
  padding      : 1rem;

  background: var(--background-color);

  justify-content: flex-start;

  width: 100%;

  max-height: 300px;

  overflow-y: auto;

  transition: opacity 0.5s ease;

  transform-origin: right;

  user-select: none;
}

#thread-anchor-wrapper #container.overlapping {
  border    : 1px solid var(--border-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#thread-anchor-wrapper #visibility-toggle {
  position: absolute;

  top  : -2rem;
  right: -2rem;

  width : 2rem;
  height: 2rem;

  background-color: var(--sidebar-color);

  cursor: pointer;

  border-radius: 9999px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#thread-anchor-wrapper #visibility-toggle svg {
  width : 50%;
  height: 50%;

  position: absolute;

  top : 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: var(--text-off);

  transition: color 0.5s ease;
}

#thread-anchor-wrapper #visibility-toggle svg:hover {
  color: var(--text-main);
}

#thread-anchor {
  min-width: 100px;
  max-width: 230px;

  margin-top  : .25rem;
  padding-left: .5rem;
  color       : var(--text-off);
  border-left : 2px solid var(--border-color);

  transition: color 0.5s ease, border-left 0.5s ease;
}

#thread-anchor:hover {
  color: var(--text-main);
}

#thread-anchor.selected {
  color      : var(--text-main) !important;
  border-left: 4px solid var(--accent-color) !important;
}

#query-box-follow-up-container #selector-container,
#message-quick-nav {
  width: fit-content;

  margin-bottom: .25rem;
  padding      : .25rem;

  border-radius: .5rem;
  border       : 1px solid var(--border-color);

  background: var(--sidebar-color);

  display        : flex;
  gap            : .25rem;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
}

#query-box-follow-up-container {
  display: flex;
  gap    : .25rem;

  justify-content: center;
}

#query-box-button-bar button.rounded-full {
  border-radius: .5rem !important;
}

#dropdown-wrapper>button>div {
  display: flex;
  gap    : .25rem;
}

#query-limit {
  color      : var(--accent-color) !important;
  font-size  : .5rem;
  align-self : flex-start;
  line-height: normal;
}

/* .max-w-screen-md,
.max-w-threadWidth {
  max-width : 1300px;
  transition: max-width 0.5s ease;
}

.max-w-screen-md .mt-md {
  max-width: 768px;
  margin   : 1rem auto;
} */

.selected span#name {
  color: var(--accent-color) !important;
}

.focus-selector,
.model-selector,
.image-model-selector,
.collection-selector {
  padding: .5rem;
}

.selector-loading div#text {
  color     : var(--text-off) !important;
  font-style: italic;
}

#thread-swap-collection,
#thread-remove-from-collection {
  cursor   : pointer;
  font-size: .8rem;
}

.hoverable-text {
  color: var(--text-off) !important;
}

.hoverable-text:hover {
  color: var(--text-main) !important;
}

@media (max-width: 768px) {

  .model-selector-wrapper,
  .collection-selector-wrapper {
    display      : block;
    margin-right : 0;
    margin-bottom: 8px;
  }

  .model-selector,
  .collection-selector {
    width: 100%;
  }

  .model-selector-text,
  .collection-selector-text {
    max-width: 120px;
  }
}

.font-sans,
.font-display {
  --font-fk-grotesk     : var(--ui-font);
  --font-fk-grotesk-neue: var(--ui-font);
}

code {
  font-family: var(--mono-font) !important;
}

.dark .data-\[state\=checked\]\:dark\:before\:\!bg-superDark[data-state=checked]:before {
  background-color: var(--accent-color) !important;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color           : var(--accent-color) !important;
  background-color: var(--sidebar-color);
  padding         : .1rem .3125rem;
  border-radius   : .375rem;
}


.citation>div>span>div {
  background-color: var(--accent-color) !important;
  color           : white !important;
  border-radius   : .375rem !important;
}

.citation>div>span>div:not(:hover) {
  opacity: .5;
}

strong,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color) !important;
}

th {
  border: 1px solid rgb(56 56 58/var(--tw-border-opacity)) !important;
  color : white !important;
}

.pb-\[124px\].pt-md.md\:pt-0>div>div:nth-child(1)>div>div>div:last-child {
  border-color: var(--accent-color-darker) !important;
}

@media (max-width: 50rem) {
  .min-w-\[790px\] {
    min-width: 80vw;
  }
}

/* Background */
html,
html.dark,
:is(.dark .dark\:bg-backgroundDark) {
  background-color: var(--background-color) !important;
}

/* Side nav */
:is(.dark .dark\:bg-offsetDark),
:is(.dark .dark\:\!bg-offsetDark),
:is(.dark .dark\:focus\:bg-offsetDark:focus),
:is(.dark .md\:dark\:hover\:bg-offsetDark:hover) {
  background-color: var(--sidebar-color);
}

/* :is(.dark .dark\:border-borderMainDark),
:is(.dark .dark\:border-borderMainDark\/60),
:is(.dark .dark\:border-borderMainDark\/80),
:is(.dark .dark\:divide-borderMainDark\/80) > :not([hidden]) ~ :not([hidden]) {
  border-color: var(--secondary-color);
} */

/* Main body */
/* :is(.dark .dark\:bg-offsetPlusDark),
.bg-offsetPlusDark,
:is(.dark .md\:hover\:dark\:bg-offsetPlusDark):hover,
:is(.dark .md\:dark\:hover\:bg-offsetPlusDark:hover) {
  background-color: var(--secondary-color);
}

:is(.dark .dark\:\!bg-offsetDark),
.ePundr,
.ePundr > span,
.codeWrapper > span {
  background-color: var(--secondary-color) !important;
} */

.hebEKa,
.gnFpAY {
  background-color: var(--sidebar-color) !important;
}

.group:hover .group-hover\:\!bg-super {
  background-color: var(--accent-color) !important;
}

.selection\:bg-superDuper::selection,
.selection\:text-textMain ::selection,
.dark .dark\:selection\:text-super ::selection {
  background-color: var(--sidebar-color) !important;
  color           : var(--accent-color) !important;
}

.fill-super,
.group:hover .group-hover\:fill-superDuper,
:is(.dark .dark\:fill-superDark) {
  fill: var(--accent-color);
}

.caret-superDuper {
  caret-color: var(--accent-color);
}

.stroke-super,
.group:hover .group-hover\:stroke-superDuper,
:is(.dark .dark\:stroke-superDark),
:is(.dark .dark\:stroke-textMainDark) {
  stroke: var(--accent-color);
}

:is(.dark .dark\:outline-superDark) {
  outline-color: var(--accent-color);
}

.dark .dark\:hover\:ring-superDark:hover,
.hover\:\!ring-super:hover,
:is(.dark .dark\:focus\:ring-borderMainDark:focus) {
  --tw-ring-color: var(--accent-color) !important;
}

/* :is(.dark .dark\:ring-borderMainDark) {
  --tw-ring-color: var(--secondary-color);
} */

.ring-2 {
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.bg-super,
.md\:hover\:bg-super:hover,
:is(.dark .dark\:bg-textMainDark),
:is(.dark .dark\:bg-superDark) {
  background-color: var(--accent-color);
  color           : white;
}

.text-super,
.group:hover .md\:group-hover\:text-super,
.prose :where(a):not(:where([class~="not-prose"] *)),
:is(.dark .dark\:md\:hover\:text-textMainDark:hover),
.selection\:text-textMain::selection,
.selection\:bg-superDuper ::selection {
  color: var(--accent-color) !important;
}

.selection\:text-textMain::selection,
.selection\:bg-superDuper ::selection {
  color           : var(--accent-color) !important;
  background-color: var(--background-color) !important;
}

/* @media (min-width: 768px) {
  :is(.dark .dark\:md\:hover\:bg-offsetPlusDark:hover) {
    background-color: var(--secondary-color);
  }
} */

/* LLama */
/* .justify-end.text-right .grow.min-w-0 .prose {
  color: var(--background-color);
} */

/* Misc */
.text-off {
  color: var(--text-off) !important;
}

.text-on {
  color: var(--text-main) !important;
}

.text-main {
  color: var(--accent-color) !important;
}

/* Hide annoying elements */
.bg-transparent.dark\:border-borderMainDark\/50.dark\:ring-borderMainDark\/50.dark\:divide-borderMainDark\/50.divide-borderMain\/50.ring-borderMain\/50.border-borderMain\/50.md\:pb-0.md\:px-0.md\:justify-center.pb-2xl.px-sm.gap-y-sm.gap-x-md.items-center.flex-wrap.flex {
  display: none;
}

.fixed.bottom-md.right-md.m-sm.hidden.md\:block {
  display: none;
}

/* Tailwind classes that are not rendered */
.invisible {
  opacity: 0;
}

.max-w-full {
  max-width: 100%;
}

.w-max {
  width: max-content;
}

.h-max {
  height: max-content;
}

.m-auto {
  margin: auto;
}

.text-green {
  color: rgb(36, 160, 36);
}

.max-w-\[150px\] {
  max-width: 150px;
}