@import url("./color-scheme.tw.css");
@import url("./overrides.css");
@import url("./components.css");
@import url("./canvas.css");

@layer base {
  * {
    @apply !tw-border-border-darker;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--muted) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--muted);
    border-radius: 9999px;
    border: none;
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  @-moz-document url-prefix() {
    .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: var(--muted) transparent;
    }
  }

  .custom-scrollbar {
    -ms-overflow-style: none;
  }
}

.reduced-motion .tw-animate-in {
  animation: none !important;
}

/* Fonts */
.font-sans,
.font-display {
  --font-fk-grotesk: var(--ui-font) !important;
  --font-fk-grotesk-neue: var(--ui-font) !important;
}

code {
  font-family: var(--mono-font) !important;
  font-weight: normal !important;
}
