::selection {
  color: var(--primary);
  background: --alpha(var(--primary) / 30%);
}

body {
  --super-bg-color: 59.28% 0.131 255.75;
  --super-color: 44.28% 0.131 255.75;
  --dark-super-bg-color: 95% 0.039 255.75;
  --dark-super-color: 74.28% 0.131 255.75;

  --primary: oklch(44.28% 0.131 255.75);
  --ring: oklch(44.28% 0.131 255.75);

  caret-color: var(--primary);
}

:root[data-color-scheme="dark"] body {
  --primary: oklch(74.28% 0.131 255.75);
  --ring: oklch(74.28% 0.131 255.75);

  --super-bg-color: var(--dark-super-bg-color);
  --super-color: var(--dark-super-color);
}
