.text-shadow-hover:hover {
  text-shadow: 0 0 10px var(--accent-foreground) !important;
}

/* Markdown block */
body.alternate-markdown-block pre code {
  width      : 100%;
  max-height : 500px;
  overflow   : auto;
  white-space: pre !important;
}

body.alternate-markdown-block pre code span:empty:last-child {
  display: none;
}

body pre:not([data-lang="text"], [data-lang="markdown"]).line-numbers code {
  counter-reset    : step;
  counter-increment: step 0;
}

body pre:not([data-lang="text"], [data-lang="markdown"]).line-numbers code .line::before {
  content          : counter(step);
  counter-increment: step;
  width            : 1rem;
  margin-right     : 1.5rem;
  display          : inline-block;
  text-align       : right;
  color            : var(--foreground-darker);
}

/* Markdown Query Wrapper */
.my-md.md\:my-lg:has(textarea) #markdown-query-wrapper {
  display: none;
}

#markdown-query-wrapper code {
  color           : var(--accent-foreground);
  background-color: var(--secondary);
  padding         : 0.1rem 0.3125rem;
  border-radius   : 0.375rem;
}

html.dark #markdown-query-wrapper pre code {
  color: var(--foreground) !important;
}

#markdown-query-wrapper pre {
  background  : var(--secondary);
  padding-left: 0.8rem;
  padding-top : 0.8rem;
  width       : 100% !important;
  max-width   : 90vw !important;
}

#markdown-query-wrapper pre code {
  color     : var(--foreground) !important;
  background: var(--secondary);
}

#markdown-query-wrapper pre.retracted {
  max-height: 200px;
}

/* Hide detached popper */
[data-popper-reference-hidden="true"] {
  display: none;
}

/* Thread layout adjustments */
body.alternate-markdown-block pre[data-lang="text"] code,
body.alternate-markdown-block pre[data-lang="markdown"] code {
  white-space: pre-wrap !important;
}

body.alternate-markdown-block div.w-full.max-w-\[90vw\]:has(> pre) {
  margin       : 1rem 0;
  border-radius: calc(var(--radius) - 2px);
}

body.alternate-markdown-block div.w-full.max-w-\[90vw\]:has(> pre:not([data-mask="true"])) {
  border    : 1px solid var(--border) !important;
  background: var(--secondary);
}

body.alternate-markdown-block .codeWrapper {
  padding-top   : 0 !important;
  padding-bottom: 0 !important;
  margin        : 0 !important;
  border        : none;
}

body.thread-message-sticky-toolbar .md\:grid.grid-cols-12.gap-xl:not(:has(.thread-message-toolbar-container)) {
  padding-top: auto !important;
}

body.thread-message-sticky-toolbar *:has(#markdown-query-wrapper:not(.\!tw-hidden))>.whitespace-pre-line.break-words:not(#markdown-query-wrapper) {
  display: none;
}

body.thread-message-sticky-toolbar .md\:grid.grid-cols-12.gap-xl .mt-sm.flex.items-center.justify-between {
  display: none;
}

/* Adjust selectors border radius */
.grow.block:has(textarea[placeholder]) button:not([aria-label="Submit"]):not([data-testid="copilot-toggle"]).rounded-full {
  border-radius: 0.375rem !important;
}

body .grow.block:has(textarea[placeholder]) button:not([aria-label="Submit"]):not([data-testid="copilot-toggle"]).rounded-full {
  height: 2rem !important;
}

body .grow.block:has(textarea[placeholder]) button:not([aria-label="Submit"]):not([data-testid="copilot-toggle"]).rounded-full svg {
  width : 0.9rem !important;
  height: 0.9rem !important;
}

.collapse-empty-thread-visual-columns .visual-col {
  display    : none !important;
  grid-column: unset !important;
}

.collapse-empty-thread-visual-columns .message-block:has(.visual-col > div > div:nth-child(2)) .visual-col {
  display    : block !important;
  grid-column: span 4 / span 4 !important;
}

.collapse-empty-thread-visual-columns .text-col {
  grid-column: span 12 / span 12 !important;
}

.collapse-empty-thread-visual-columns .message-block:has(.visual-col > div > div:nth-child(2)) .text-col {
  grid-column: span 8 / span 8 !important;
}

.grow.block>div,
.grow.block>div>div {
  transition: none !important;
  animation : none !important;
  transform : none !important;
}