@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "./vars.css";
@import "./scrollbar.css";
@import "./typography.css";

@import "tailwindcss/preflight.css" layer(base);

[data-color-scheme="dark"] {
  color-scheme: dark;

  --primary: oklch(74.37% 0.1304 255.6);
  --ring: oklch(74.37% 0.1304 255.6);
}

:root {
  --font-sans: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  font-variant-ligatures: none;
  font-size: 16px;
}

@layer base {
  * {
    @apply x:border-border/50 x:font-sans x:text-sm;
  }

  body {
    @apply x:bg-background x:font-sans x:text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  button {
    cursor: pointer;
  }
}
