:root {
  --background: oklch(98.89% 0.0044 106.48);
  --foreground: oklch(30.39% 0.04 213.68);

  --card: oklch(98.89% 0.0044 106.48);
  --card-foreground: oklch(30.39% 0.04 213.68);

  --popover: oklch(98.89% 0.0044 106.48);
  --popover-foreground: oklch(30.39% 0.04 213.68);

  --primary: oklch(55.27% 0.086 208.61);
  --primary-foreground: oklch(93.34% 0.0025 106.45);

  --secondary: oklch(96.06% 0.0069 106.53);
  --secondary-foreground: oklch(30.39% 0.04 213.68);

  --muted: oklch(96.06% 0.0069 106.53);
  --muted-foreground: oklch(50.07% 0.009 106.72);

  --success: oklch(72.05% 0.192 149.49);
  --success-foreground: oklch(93.34% 0.0025 106.45);

  --destructive: oklch(63.56% 0.2082 25.38);
  --destructive-foreground: oklch(93.34% 0.0025 106.45);

  --border: oklch(88.3% 0.012 106.646);
  --input: oklch(88.3% 0.012 106.646);
  --ring: oklch(55.27% 0.086 208.61);

  --radius: 0.5rem;

  --dark: oklch(21.67% 0.002 197.04);
}

[data-color-scheme="dark"] {
  --background: oklch(21.67% 0.0016 197.04);
  --foreground: oklch(93.34% 0.0025 106.45);

  --card: oklch(21.67% 0.0016 197.04);
  --card-foreground: oklch(93.34% 0.0025 106.45);

  --popover: oklch(21.67% 0.0016 197.04);
  --popover-foreground: oklch(93.34% 0.0025 106.45);

  --primary: oklch(71.56% 0.1183 209.17);
  --primary-foreground: oklch(30.26% 0.0026 197.02);

  --secondary: oklch(25.05% 0.0029 196.97);
  --secondary-foreground: oklch(93.34% 0.0025 106.45);

  --muted: oklch(37.08% 0.0027 228.85);
  --muted-foreground: oklch(65.3% 0.005 197.042);

  --success: oklch(87.12% 0.137 154.59);
  --success-foreground: oklch(93.34% 0.0025 106.45);

  --destructive: oklch(39.96% 0.1348 25.77);
  --destructive-foreground: oklch(93.34% 0.0025 106.45);

  --border: oklch(37.08% 0.0027 228.85);
  --input: oklch(37.08% 0.0027 228.85);
  --ring: oklch(71.56% 0.1183 209.17);
}
