:root {
  --primary: oklch(26.42% 0.013 93.9);
  --primary-foreground: oklch(97.98% 0.005 78.3);

  --background: oklch(0.9798 0.0045 78.3);
  --foreground: oklch(0.2642 0.013 93.9);
  --foreground-subtle: oklch(68.98% 0.027 109.55 / 0.16);

  --card: oklch(0.9798 0.0045 78.3);
  --card-foreground: oklch(0.2642 0.013 93.9);

  --popover: oklch(0.9798 0.0045 78.3);
  --popover-foreground: oklch(0.2642 0.013 93.9);

  --secondary: oklch(0.9563 0.0062 75.41);
  --secondary-foreground: oklch(26.42% 0.013 93.9);

  --muted: oklch(22.82% 0.047 83.09 / 0.07);
  --muted-foreground: oklch(26.42% 0.013 93.9 / 0.6);

  --success: oklch(72.05% 0.192 149.49);
  --success-foreground: oklch(0.9296 0.007 106.53);

  --caution: oklch(0.4918 0.143 16.18);
  --caution-foreground: oklch(100% 0.00011 271.152);

  --backdrop: oklch(0.85 0 0);

  --border: oklch(88.3% 0.012 106.646);
  --input: oklch(88.3% 0.012 106.646);
  --ring: oklch(26.42% 0.013 93.9);

  --radius: 0.5rem;
}

[data-color-scheme="dark"] {
  --primary: oklch(87.35% 0.002 67.8);
  --primary-foreground: oklch(21.67% 0.002 197.04);

  --background: oklch(20.09% 0.003 67.68);
  --foreground: oklch(0.9296 0.007 106.53);
  --foreground-subtle: oklch(49.33% 0.019 171.99 / 0.2);

  --card: oklch(20.09% 0.003 67.68);
  --card-foreground: oklch(0.9296 0.007 106.53);

  --popover: oklch(20.09% 0.003 67.68);
  --popover-foreground: oklch(0.9296 0.007 106.53);

  --secondary: oklch(0.2568 0.0024 67.72);
  --secondary-foreground: oklch(0.9296 0.007 106.53);

  --muted: oklch(37.08% 0.0027 228.85);
  --muted-foreground: oklch(87.35% 0.002 67.8 / 0.6);

  --success: oklch(87.12% 0.137 154.59);
  --success-foreground: oklch(0.9296 0.007 106.53);

  --caution: oklch(0.7201 0.178 11.8);
  --caution-foreground: oklch(100% 0.00011 271.152);

  --backdrop: oklch(0.15 0 0);

  --border: oklch(37.08% 0.0027 228.85);
  --input: oklch(37.08% 0.0027 228.85);
  --ring: oklch(87.35% 0.002 67.8);
}
