:root {
  --primary: oklch(55.27% 0.086 208.61);
  --primary-foreground: oklch(0.9902 0.004 106.47);

  --background: oklch(98.89% 0.0044 106.48);
  --foreground: oklch(0.3039 0.04 213.68);
  --foreground-subtle: oklch(68.98% 0.027 109.55 / 0.16);

  --card: oklch(98.89% 0.0044 106.48);
  --card-foreground: oklch(0.3039 0.04 213.68);

  --popover: oklch(98.89% 0.0044 106.48);
  --popover-foreground: oklch(0.3039 0.04 213.68);

  --secondary: oklch(96.06% 0.0069 106.53);
  --secondary-foreground: oklch(0.3039 0.04 213.68);

  --muted: oklch(96.06% 0.0069 106.53);
  --muted-foreground: oklch(0.3039 0.04 213.68 / 0.75);

  --success: oklch(72.05% 0.192 149.49);
  --success-foreground: oklch(0.9296 0.007 106.53);

  --caution: oklch(51.83% 0.168 21.78);
  --caution-foreground: oklch(0.9296 0.007 106.53);

  --backdrop: oklch(0.85 0 0);

  --border: oklch(88.3% 0.012 106.646);
  --input: oklch(88.3% 0.012 106.646);
  --ring: oklch(55.27% 0.086 208.61);

  --radius: 0.5rem;

  --dark: oklch(21.67% 0.002 197.04);
}

[data-color-scheme="dark"] {
  --primary: oklch(71.56% 0.1183 209.17);
  --primary-foreground: var(--dark);

  --background: oklch(21.67% 0.0016 197.04);
  --foreground: oklch(0.9296 0.007 106.53);
  --foreground-subtle: oklch(49.33% 0.019 171.99 / 0.2);

  --card: oklch(21.67% 0.0016 197.04);
  --card-foreground: oklch(0.9296 0.007 106.53);

  --popover: oklch(21.67% 0.0016 197.04);
  --popover-foreground: oklch(0.9296 0.007 106.53);

  --secondary: oklch(25.05% 0.0029 196.97);
  --secondary-foreground: oklch(0.9296 0.007 106.53);

  --muted: oklch(37.08% 0.0027 228.85);
  --muted-foreground: oklch(92.96% 0.00658 106.779 / 0.55);

  --success: oklch(87.12% 0.137 154.59);
  --success-foreground: oklch(0.9296 0.007 106.53);

  --caution: oklch(53.47% 0.151 25.99);
  --caution-foreground: oklch(0.9296 0.007 106.53);

  --backdrop: oklch(0.15 0 0);

  --border: oklch(37.08% 0.0027 228.85);
  --input: oklch(37.08% 0.0027 228.85);
  --ring: oklch(71.56% 0.1183 209.17);
}
